/********************/
/****** GLOBAL ******/
/********************/

:root {
    /* Colors */
    --main-color: #4fc4cf; /* Light blue */
    --second-color: #994ff3; /* Purple */
    --bg-color: #F2F2F2; /* Grey */
    --main-text-color: #181818;

    /* Text configuration */
	--text-font: 'Montserrat', sans-serif;
    --title-font: 'Montserrat', sans-serif;

    --text-weight: 400;
	--title-weight: 600;

    --text-size: 1rem;
	--title-size: /**/;

    --text-height: 1.7rem;
	--title-height: 1rem;
}

body {
	margin:0;
	background-color: #fffffe;
}

h1, h2, h3, h4, h5, p, ul, ol {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	line-height: 1.8em;
}

p {
	font-family: var(--text-font);
	font-size: var(--text-size);
	line-height: var(--text-height);
}

a {
	color: #4fc4cf;
}

span {
	font-weight: 800;
	color: #994ff3;
}

/********************/
/****** HEADER ******/
/********************/

header {
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	position : sticky;
	height: 135px;	
	background: #fffffe;
	border-bottom: 1px #C7C7C7 solid;
	box-shadow: 6px 6px 25px rgba(199,199,199, 0.5);
	z-index: 2;
	top: 0;
	align-items: center;
}

.header-coll1 {
	display: flex;
	justify-content: center;
}

.logo {
	max-width: 100%;
	max-height: 100%;
	width: 8em;
}

h1 {
	color: #181818;
	font-size: 2em;
}

.h2header {
	color: #4fc4cf;
	font-size: 1em;
	line-height: 1.2em;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  border-right: 1px #C7C7C7 solid;
  margin-right: 10px;
  padding-right: 10px;
}

header li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

header li a {
	color:#181818;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	text-transform: capitalize;
}

header li a:hover {
	color: #4fc4cf;
}

header li a:active {
	color: #4fc4cf;
}

/********************/
/***** A PROPOS *****/
/********************/

.section-apropos {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background: linear-gradient(90deg, #4fc4cf, #994ff3);
	padding: 6em 10% 6em 10%;
}

.a-propos-block1 {
	grid-column: 1 / 3;
	text-align: center;
	margin-bottom: 2em;
}

.a-propos-block1, h2 h3 {
	color: #fffffe;
}

.a-propos-block2 {
	grid-column: 1 / 2;
	color: #fffffe;
}

.a-propos-block2 a {
	color: #fffffe;
}

.a-propos-block2 p {
	margin-bottom: 30px;
	margin-right: 16%;
}

.a-propos-block3 {
	grid-column: 2 / 3;
}

.portrait {
	max-width: 100%;
	height: auto;
}

/********************/
/**** COMPETENCES ***/
/********************/

.section-competences {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 6em 10% 6em 10%;
	background: #f6efef;
	gap: 2em;
}

.section-competences h2 {
	grid-column: 1 / 4;
	text-align: center;
	margin-bottom: 1.2em;
}

.section-competences h3 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.section-competences img {
	max-width: 60px;
	max-height: auto; /* ERREUR*/
	margin: auto;
	display: block;
}

.skills1 {
	grid-column: 1 / 2;
	background: #f0e2e1;
	border-radius: 5px;
	padding: 1.2em;
}

.skills2 {
	grid-column: 2 / 3;
	background: #f0e2e1;
	border-radius: 5px;
	padding: 1.2em;
}

.skills3 {
	grid-column: 3 / 4;
	background: #f0e2e1;
	border-radius: 5px;
	padding: 1.2em;
}

/********************/
/**** FORMATIONS ****/
/********************/

.section-formations {
	background-image: url('medias/bandeau-formations-laura-haas.svg');
	background-attachment: fixed;
	background-size: cover;
	padding: 6em 40% 6em 22%;
}

.section-formations h2 {
	margin-bottom: 1.2em;
}

.section-formations ul {
	line-height: 2em;
}

/********************/
/**** PORTFOLIO *****/
/********************/

.section-projets {
	padding: 6em 10% 6em 10%;
}

.projets-block1 {
	text-align: center;
	margin-bottom: 2em;
}
.projets-block2 {
	/*border: 1px red solid;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.projets-block2 .projet-img-container {
	width: 100%; /* Occupe toute la largeur de la cellule de la grille */
	height: 100%; /* Occupe toute la hauteur de la cellule de la grille */
}

.projets-block2 img {
		width: 100%;
		height: 100%;
		object-fit: cover;
}
	#projet-atelierlabigorne {
		/*border: 1px red solid;*/
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}
	#projet-appele {
		/*border: 1px red solid;*/
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	#projet-amhr {
		/*border: 1px red solid;*/
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	#projet-jalmlav {
		/*border: 1px red solid;*/
		grid-column: 3 / 4;
		grid-row: 2 / 4;
	}
	#projet-artetmatiere {
		/*border: 1px red solid;*/
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}


.temoignage {
	padding-left: 2em;
	color: #3b3b3b;
	font-size: 1.4em;	
}
.temoignant {
	padding-left: 2em;
	color: #3b3b3b;
	font-size: 1.2em;
	margin-bottom: 2em;
}

.presentation-projet {
	padding: 6em 10% 6em 10%;
}

.presentation-projet h2 {
	text-align: center;
	margin-bottom: 2em;
}

.presentation-projet img {
	max-width: 100%;
	height: auto;
	margin: auto;
	display: block;
}
.presentation img {
	max-width: 25%;
}

/********************/
/***** CONTACT ******/
/********************/

.section-contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: linear-gradient(90deg, #4fc4cf, #994ff3);
	padding: 6em 10% 6em 10%;
	gap: 4em;
}

.contact-block1 {
	color: #fffffe;
	text-align: right;
}

.contact-block1 a {
	color: #fffffe;
}
.contact-block1 a:hover {
	color: #E6FFE8;
}

.contact-block1 h2{
	margin-bottom: 1em;
}

#logo-linkedin {
	max-width : 24px;
}

#indic-ast {
	font-size: 0.9em;
	font-style: italic;
}

.contact-block2 {
	color: #fffffe;
	font-family: 'Montserrat', sans-serif;
	line-height: 2em;
}

.contact-block2 legend {
	font-size: 1.3em;
	font-weight: 600;
}

.contact-block2 label {
	font-size: 1em;
}
.contact-block2 input {
	width: 100%;
	height: 1.8em;
}
.contact-block2 textarea {
	width: 100%;
	height: 120px;
}
.contact-block2 fieldset {
	border: 1px #fffffe solid;
}

.contact-block2 input[type="submit"] {
	margin-top: 10px;
	border-radius: 5px;
	padding: 10px 20px;
	height: auto;
	border: none;
	background-color: #fffffe;
	color: #6e559f;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 600;
}
.contact-block2 input[type="submit"]:hover{
	background-color: #6e559f;
	color: #fffffe;
}

/********************/
/**** PAGES MENTIONS LEGALES ET POLITIQUES DE CONF ****/
/********************/

.section-mentionl {
	padding: 6em 10% 6em 10%;
}

.section-mentionl h2 {
	text-align: center;
}

/**** BUTTONS ****/
.button1, .button2 {
	display: block;
	width: 160px;
	text-align: center;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
}

.button1 {
	background-color: #fffffe;
	margin-right: 20px;
}
.button1 a {
	color: #6e559f;
}
.button1:hover {
	background-color: #6e559f;
}

.button1:hover a {
	color: #fffffe;
}

.button1 a, .button1:hover, .button2 a, .button2:hover, .button3 a, .button3:hover {
	text-decoration:none;
}

.button2 {
	background-color: #4fc4cf;
}

.button2 a, .button3 a {
	color: #fffffe;
}

.button2:hover, .button3:hover {
	background-color: #6e559f;
}

.button3, .button4 {
	display: block;
	background-color: #4fc4cf;
	width: 180px;
	text-align: center;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 600;
}

/*Bouton revenir aux projets*/
.button4 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.button4 a {
	color: #fffffe;
	text-decoration: none;
}

.button4:hover {
	background-color: #6e559f;
}

/********************/
/****** FOOTER ******/
/********************/

footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #fffffe;
	border-top: 1px #C7C7C7 solid;
	align-items: center;
	padding-top:2em;
	padding-bottom:2em;
}

.text-author-rights {
	margin-left: 5%;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  border-right: 1px #C7C7C7 solid;
  margin-right: 10px;
  padding-right: 10px;
}

footer li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

footer li a {
	color:#181818;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-transform: capitalize;
}

footer li a:hover {
	color: #4fc4cf;
}

footer li a:active {
	color: #4fc4cf;
}

/**** TRAITEMENT MESSAGES ****/
.section-center {
	padding: 6em 10% 6em 10%;
}

.section-center h2, .section-center p {
	text-align: center;
}

/********************/
/*** MEDIA QUERIES **/
/********************/

/*** Tablet ***/
@media screen and (max-width: 1100px) {
	/*** Formations ***/
		.section-formations {
			background-position: 60% 40%;
			padding: 6em 20% 6em 20%;
		}
		.section-formations h2 {
			text-align: center;
			margin-bottom: 2em;
		}
		.section-formations ul {
		line-height: 2.2em;
		}
	/*** Portfolio ***/
	.presentation-projet {
		display: flex;
		flex-direction: column;
	}
	.presentation {
		order: 2;
		margin-top: 2em;
	}
	.illustration-projet {
		order: 1;
	}
	.revenirauxprojets {
		order: 3;
	}
}

/* REVOIR UTILITÉ */
@media screen and (min-width: 760px) and (max-width: 1100px) {
	.section-competences {
		grid-template-columns: 1fr 1fr;
	}
	.section-competences h2 {
		grid-column: 1 / 3;
	}
	.skills1 {
		grid-column: 1 / 2;
	}
	.skills2 {
		grid-column: 2 / 3;
	}
	.skills3 {
		grid-column: 1 / 3;
	}

}

/*** Smartphone ***/
@media screen and (max-width: 920px) {
	/*** Header ***/
	header {
		grid-template-columns: 1fr 2fr;
	}
	.header-coll3 {
		display: none;
	}

	/*** A propos ***/
	.section-apropos {
		display: flex;
		flex-direction: column;
	}
	.a-propos-block1 {
		order: 2;
	}
	.a-propos-block2 {
		order: 3;
		text-align: center;
	}
	.a-propos-block2 p {
		margin-right:0;
	}
	.a-propos-block3 {
		order: 1;
		margin-bottom: 30px;
	}

	/*** Compétences ***/
	.section-competences {
		display: flex;
		flex-direction: column;
	}

	/*** Contact ***/
	.section-contact {
		display: flex;
		flex-direction: column;
	}
	.contact-block1 {
		text-align: center;
	}

	/*** Footer ***/
	footer {
		display: flex;
		flex-direction: column;
	}
	.text-author-rights {
		order: 2;
		margin-left: 0;
		text-align: center;
	}
	.footer-menu {
		display: flex;
		flex-direction: column;
		gap: 2em;
		order: 1;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 2em;
	}
		#menu-footer-1 {
			order: 3;
		}
		#menu-footer-2 {
			order: 1;
		}
		#menu-footer-3 {
			order: 2;
		}
	footer li {
		border-bottom: 1px #C7C7C7 solid;
		border-right:none;
	}	
}